.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  min-height: 100vh;
}

.main {
  text-align: center;
}

.tagline {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.buttonPrimary {
  background-color: #0070ff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 24px;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.buttonPrimary:hover {
  opacity: 0.8;
}
